nav{
    height: 70px;
    width: 100%;
    background-color: #0E0833;

    top: 0px;
    left: 0px;
    position: fixed;


    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#hero{
    margin:0;
    height: 500px;
    width: 100%;
}
